@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=IBM+Plex+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

body {
    width: 100%;
    color: white;
}

.acceuil {
    width: 100%;
    height: 100vh;
    background-image: url(image/Bronx.webp);
    background-size: cover;
    background-position: right;
}

/*=============================
Button
===============================*/
.register {
    background-color: #FF4901 !important;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

.get_started {
    background-color: #FF4901 !important;
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

.read {
    background-color: #FF4901 !important;
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    position: relative;
    left: 50px;
    bottom: 10px;
}

/*=============================
Elements sur la page d'acceuil
===============================*/
.fit {
    padding-top: 6.25em;
}

.fitgher {

    padding-bottom: 1.5em;
}

.fitgher h1 {
    font-family: 'Arbutus', cursive;
}

/*=============================
Elements sur le corps de la page
===============================*/
.cardio,
.yoga {
    width: 6em;
    font-family: 'Roboto Condensed', sans-serif;
}

.popular {
    font-family: 'Roboto Condensed', sans-serif;

}

.check {
    font-family: 'Roboto Condensed', sans-serif;

}

/*=============================
Elements de la section about
===============================*/

.about {
    max-width: 50%;
}

.hero {
    padding-right: 0 !important;
    background-color: black;
    color: white;
}

.titre_about {
    padding-bottom: 0.5em !important;
}

.classes {
    width: 90%;
    padding-left: 3em;
}
class{
    width: 90%;
}

.change {
    background-color: black;
    color: white;
}

.insta {
    width: 2em;
    height: 2em;
}

.name {
    margin: 0.5em;
}

.contact {
    margin-left: 1em;
    margin-bottom: 1em;
}

.message {
    margin-bottom: 1em;
    margin-left: 1em;
    padding-right: 13em;
    padding-bottom: 5em;
}

.submit {
    margin-left: 1em;
}

input {
    border: none;
    border-bottom: 0.1em solid white;
    background-color: unset;
}

.sponsor {
    max-width: 80%;
    height: auto;
}

/*=============================
Média queries
===============================*/

@media all and (max-width: 1000px) {

    .im {
        display: none !important;
    }
    .classes{
        padding-left: 0.8em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .class{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .about {
        max-width: 100%;
    }

    .girl {
        display: none;
    }
}


@media all and (max-width: 760px) {

.boutton{
background-color: unset !important;
padding: 0;
}
}


@media all and (max-width: 570px) {

    .grille {
        display: none !important;
    }
   

    
}

@media all and (max-width: 417px) {

    .message {
        padding-right: 3em;
    }
   

    
}

@media all and (max-width: 357px) {

    .centre {
        display: flex;
        flex-wrap: wrap;
    }
   

    
}